NODE_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/luxora?schema=public"

# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""

# Authentication (Github)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Authentication (Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""